<div class="banner">
    <div class="container">
        <div class="header">
            <h2>Indicadores Cripto</h2>
            <h6>Mantente al día con los movimientos del mercado</h6>
        </div>
        <div class="sub-header">
            <marquee behavior="scroll" onmouseover="stop()" onmouseout="start()" loop="infinite" direction="left">
            <div class="row">

            </div>
            </marquee>
        </div>
    </div>
</div>

<div class="container mt-3">
    <!-- Table -->
</div>